.tictactoe {
	width: 250px;
}

#notification {
	display: none;
}

#winnerMessage {
	font-weight: bold;
	padding: 14px 10px 5px 10px;
}

#gameBoard {
	margin-left: 50px;
	padding-top: 20px;
	padding-bottom: 30px;
}

#restartButton {
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

#resetButton {
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

.space {
	height: 50px;
	width: 50px;
	font-size: 25px;
	padding-top: 7px;
	cursor: pointer;
}

.line-right {
	border-right: 2px solid #ccc;
}

.line-bottom {
	border-bottom: 2px solid #ccc;
}


h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

h5 {
	display: inline;
}

#rules {
	text-align: center;
}

#scoreArea {
	text-align: center;
}

#buttons {
	text-align: center;
}

h4.player {
	display: inline;
}